.App{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh !important;
}


.noScroll{
    height: 100%;
    overflow: hidden;
}

html,body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
    
}

