.navbar{
    
    display: flex;
    flex-direction: row;
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index:101;
    top:0;
    background-color: #fff;
    padding: 20px 10% 20px 10%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    

    .navbar-title{
        font-size: 16pt;
        text-decoration: none;
        color: black;
    }
    .toggler{
        cursor: pointer;
        font-weight: 300;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;

       .moon-icon{
          margin-right: 4px;
       }
    }
}

@media screen and(max-width:460px){
    .navbar{
        padding-left: 0;
        padding-right: 0;
    }
}
